@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/** MODAL START **/

main .contents .chart_wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 750px;
    overflow-y: scroll;
    padding: 0.5rem;
    gap: 2rem;
    
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #052f55; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #052f55; 
}

main .contents .chart_wrapper .charts{
    display: flex;      
    flex-direction: column;
    max-width: 80%;
    height: auto;
}

main .contents .chart_wrapper .charts .header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 3rem;
}

main .contents .chart_wrapper .charts .chart_data{
    display: flex;
    width: 100%;
    flex: 1;
}

main .contents .chart_wrapper .charts .chart_data .chartCanvas{
    width: 100%;
    height: 100%;
}

#revPerCategory{
    max-width: 900px;
}

